.introduction-container {
    display: flex;
    /* background-color: #f5f5f5; */
    color: #ffffff;
    padding-bottom: 1px;
    padding-top: 100px;
}

.introduction-container .content-left{
    min-width: 50% !important;
    animation: content-left 1s ease-in forwards;
}

.introduction-container .content-left p {
    font-size: 30px;
    text-align: justify;
}

.introduction-container .content-left .first-h1{
    color: #ffff;
    font-size: 50px;
}

.introduction-container .content-left .second-h1{
    font-size: 90px;
}

.introduction-container .text-content {
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
    width: 40vw;
    margin: auto;
}

.introduction-container .content-right .image{
    padding: 0 !important;
    margin: 0 !important;
    background-image: url('../../../../assets/FotoSemiFormal.png');
    width: 0vw ;
    height: 100vh;
    max-height: 850px ;
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
      width: 0;
    }
    to {
      width: 49.4vw;
    }
}

@media (max-width: 1024px) {
    .introduction-container {
        padding-top: 0;
    }
    .introduction-container .content-left .first-h1{
        color: #ffff;
        font-size: 30px;
    }
    .introduction-container .content-left .second-h1{
        font-size: 50px;
    }
    .introduction-container .content-left p {
        font-size: 20px;
    }
    .introduction-container .content-left{
        height: 400px;
        padding-top: 10vh;
    }
}

@media (max-width: 760px) {
    .introduction-container {
        display: block;
    }
    .introduction-container .content-left .first-h1{
        color: #ADB4BF;
        font-size: 30px;
    }
    .introduction-container .content-left .second-h1{
        font-size: 50px;
    }
    .introduction-container .content-left{
        width: 100vw;
        height: 400px;
        padding-top: 10vh;
        /* position: relative; */
    }
    .introduction-container .text-content {
        width: 80%;
        margin: auto;
        /* position: relative; */
    }
    .introduction-container .content-right .image{
        width: 100vw !important;
        height: 80vh;
    }
}