.contact-container {
    width : 100%;
    height : fit-content;
    display : flex;
    padding : 0 0 0px 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.contact-container .content-right {
    width : 50vw;
    color : #ffffff;
}

.contact-container .content-right .text-content {
    padding : 0 0 0 4em ;
}
.contact-container .content-right .text-content h3{
    color : #ffffff;
}
.contact-container .content-right .text-content p{
    color : #ffffff;
    width: 100%;
    padding: 0 !important;
}

.contact-container .content-right .text-content .address,.contact-container .content-right .text-content .email,.contact-container .content-right .text-content .telephone{
    padding : 40px 0;
    font-size : 25px;
    width : 40vw;
    text-align : justify;
}

.contact-container .content-right .text-content .social-media{
    display : flex;
    padding : 20px 0 0 0;
}

.contact-container .content-right .text-content .social-media h3{
    font-size : 25px;
    padding : 0 20px 0 0;
}

.contact-container h1 {
    width : fit-content;
    padding : 50px 0 0 0;
    font-size : 60px
}

.contact-container .content-left{
    width : 50vw;
    background-color:#000;
}

.contact-container .wrapper {
    position: relative;
}
  
.contact-container #map,.contact-container  .address-box {
    position: absolute;
    top: 0;
    left: 0
}
  
.contact-container .address-box {
    z-index: 100000;
    width: 80%;
    height: fit-content;
    padding: 10px;
    background-color: #000;
    pointer-events: none;
    top: 550px;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    color : #454a52;
}
.contact-container .address-box h5{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
.contact-container .address-box p{
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
    color: #ffffff;
}
.contact-container .btn-send-massage-contact-us{
    border-radius: 8px;
    background: #000;
    color: #0F5998;
}

.contact-container .address-box > * {
    pointer-events: auto;
}
.contact-container .wrapper,.contact-container  #map,.contact-container  .address-box {
    height: fit-content;
}
.contact-container .mapStyle {
    height: 750px;
}
.contact-container .content-right .text-content .social-media {
    display: flex;
    justify-content: left;
    font-size: 25px;
}
.contact-container .content-right .text-content .social-media .instagram,.contact-container .content-right .text-content .social-media .linkedin, .contact-container .content-right .text-content .social-media .github{
    margin-right: 20px;
    cursor: pointer;
}

.contact-container .content-right .text-content .social-media .linkedin:hover, .contact-container .content-right .text-content .social-media .instagram:hover, .contact-container .content-right .text-content .social-media .github:hover{
    color: #33f44c;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.contact-container .leaflet-marker-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/88/Map_marker.svg');
    background-size: cover;
    content: none !important;
    contain: none;
    content-visibility: hidden;
}

.contact-container .leaflet-marker-shadow{
    content: none !important;
    content-visibility:hidden;
}

@media (max-width: 1024px) {
    .contact-container .content-right .text-content {
        padding : 0 0 0 3em ;
    }
}

@media (max-width: 960px) and (max-height: 600px) {
    .contact-container {
        height: 1250px !important;
    }
}
@media (max-width: 540px) and (max-height: 400px) {
    .contact-container {
        height: 1050px !important;
    }
}

@media (max-width: 430px) and (min-height: 700px)   {
    .contact-container{
        height: 200vh !important;
    }
    .contact-container .content-right{
        margin-top: 10vh !important;
        background-color: #000 !important;
    }
}

@media (max-width: 960px) {
    .contact-container {
        height: 1550px ;
        background-color: #000;
    }
    .contact-container .content-left{
        width : 50vw;
        padding-right: 50vw;
    }
    .contact-container .mapStyle {
        height: 90vh;
        margin-left: 20px;
    }
    .contact-container .address-box {
        position : relative;
        top : -30vh;
        padding: 30px;
        margin-left: 10px;
    }
    .contact-container .address-box h5{
        font-size: 16px;
        font-weight: 400;
    }
    .contact-container .address-box p{
        font-size: 20px;
    }
    .contact-container {
        display: block;
    }
    .contact-container .content-right{
        width: 100vw;
        height: 50vh;
        padding-top: 10vh;
    }
    .contact-container .content-left .wrapper{
        position : relative;
        left : 50%;
        transform: translate(-24%,5%);
        width : 90vw;
    }
    .contact-container .content-right .text-content {
        padding : 0 0 0 2em ;
    }
    .contact-container h1 {
        width : fit-content;
        padding : 0;
    }
    .contact-container .content-left .image{
        width: 100vw !important;
        height: 80vh;
        position : absolute;
    }
    .contact-container .content-left .image{
        margin : 110vh 0 0 0 !important;
    }
    .contact-container .content-right .text-content .address,.contact-container .content-right .text-content .email,.contact-container .content-right .text-content .telephone{
        width : 80vw;
    }
    
}

@media (max-width: 680px) {
    .contact-container{
        height: max-content;
        padding-bottom: 0 !important;
        margin-bottom:0 !important ;
    }

    .contact-container .content-right{
        padding-bottom: 500px;
    }

}
@media (max-width: 540px) {
    .contact-container .content-right .text-content h3{
        font-size: 40PX;
    }
    .contact-container .content-right .text-content p{
        font-size: 20PX;
    }
    .contact-container .address-box h5{
        font-size: 20px;
        font-weight: 400;
    }
    .contact-container .address-box p{
        font-size: 16px;
        font-weight: bold;
        color: #ffffff !important;
    }   
    .contact-container .address-box {
        padding: 2vh !important;
        color: #ffffff !important;
    }
    .contact-container {
        padding : 0 0 0 0;
    }
    .contact-container h1 {
        font-size : 50px
    }
    .contact-container .content-right .text-content .social-media{
        display : block;
        padding : 20px 0 0 0;
    }
    .contact-container .content-right{
        padding-top: 0vh !important;
    }

}