.navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000 !important;
    color: #ADB4BF;
    z-index: 1000;
}

.navbar .container {
    width: 100%;
}

.navbar .menu-drop-down {
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 20px;
    padding: 0 5px;
    border: 2px solid #adb4bf;
    border-radius: 1vw;
    color : #ffff;
    background-color: #0000;
}

.navbar h2 {
    padding: 0 0 0 10px;
    font-size: 28px;
    color: #ffff ;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    color: #ffff;
}

.nav-links a:hover {
    cursor: pointer;
    color: #444444;
}
.nav-link .account {
    color: #ffff;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 5px 10px;
    border: #ffff 1px solid;
    border-radius: 1vw;
}

@media (max-width: 360px) {
    .navbar h2 {
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    .nav-wrapper {
        display: block;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #0000;
        display: block;
    }
    
    .nav-links {
        display: block;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        text-align: center;
        margin-bottom: 100px;
        z-index: 1000;
    }
    .nav-wrapper .account{
        background-color: #000;
        top: 150px;
        position: absolute;
        border: none;
        width: 100%;
        margin: 0 auto;
        padding: 10px 10px 10px 45vw;
    }
    
    .nav-links.active {
        display: block;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        color: #ffff;
    }
    .navbar .container{
        padding: 10px 0;
    }
}
