:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding : 0 !important;
  margin : 0 !important
}
* {
  padding: 0;
  margin: 0;
}
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar vertikal */
  height: 6px; /* Lebar scrollbar horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Warna scrollbar */
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Warna track scrollbar */
}